.big-container{
    width:100vw;
    height: 100vh;
    background-color: #F66F6F;
    display: flex;
    flex-direction: column;
}
.first-question{
    font-family: Urbanist;
    font-weight: 1000;
    font-size:18px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 8vh;
}
.fleche{
    margin-left: 5vw;
    margin-top: 3vh;
    color: white;
    font-size: 25px;
}